<h1>Battle!</h1>
<h2>Sign in to play</h2>
<form action="/names" method="post">
  <label for="player">
  Player 1 name:
  </label>
  <input type="text" name="player"> <br>
  <label for="player2">
  Player 2 name:
  </label>
  <input type="text" name="player2"> <br>
  <input type="submit" value="Submit">
</form>